/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

@media screen and (min-width: 768px) {
    main#MainContent {
        margin-top: 120px;
    }
}


/********************* HEADER NAVIGATION ************************/

/* STICKY HEADER */
.custom-sticky-header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
    z-index: 100;
}
.nav-up {
    top: -121px;
}


.menu-dropdown__wrapper {
    justify-content: unset !important;
}
.site-nav.dropdown {
    position: relative !important;
    left: auto !important;
    width: 220px !important;
}

.cart-count-bubble span {
    color: #fff;
}
.site-nav-banner {
    justify-content: flex-start !important;
}
img.header__heading-logo {
    width: 80px !important;
    height: 43px !important;
}
@media screen and (min-width: 1025px) {
    .menu-dropdown__column {
        display: flex;
    }
}
@media screen and (max-width: 1024px) {
    .site-nav.dropdown {
        top: 0px !important;
    }
}


form#ContactFooter .form--check {
    display: none;
}
footer.footer.footer-5 .footer__content-top {
    background-color: #fff;
}
footer.footer.footer-5 h2.footer-block__heading,
footer.footer.footer-5 a.link.link-underline.list-menu__item--link {
    color: black;
}
.quantity_selector {
    margin-bottom: 15px;
}
.card-swatch.text-left {
    display: none !important;
}
div#swatch-option1,
.product-form__input.product-form__swatch,
.productView-moreItem .price__regular dd.price__last div {
    display: none;
}
div[option-target="option1"] {
    display: none;
}
.template-product .productView-price {
    display: flex;
    flex-direction: column;
}
.template-product .price.price--medium {
    order: 1;
}
.template-product variant-swatch-king {
    order: 3;
}
.template-product .installment.caption-large {
    order: 2;
    padding: 15px 0px 10px 0px;
}

span.usf-value {
    display: none;
}
.articleLookbook-block {
    display: none;
}
.toolbar-col.toolbar-colLeft,
span.usf-sr-summary {
    display: none !important;
}
.breadcrumb {
    font-weight: bold !important;
}

/* PER PIECE & PER PACK PRICE */
.template-collection dd.price__last {
    display: flex;
    flex-direction: column;
}
.template-collection .price__sale,
.template-collection .price.price--on-sale .price__regular,
.template-collection .price.price--on-sale span.price-item.price-item--regular {
    display: block;
}
.template-collection dt.price__compare,
.template-collection dd.price__compare,
.template-collection span.price-item.price-item--regular,
.template-collection .price.price--on-sale span.price-item.price-item--sale {
    display: none;
}
.template-collection .price dl {
    flex-direction: column-reverse;
}
.template-collection span.price-item.price-item--sale {
    color: black;
}

/* DISABLE IMAGE HOVER EFFECT */
.customImageBanner-item:hover .image-zoom img,
.image-zoom:hover img {
    transform: none !important;
}

/* COLLECTION PAGE */
.template-collection h1.page-header.text-left {
    padding: 10px 0px 20px;
    font-weight: bold;
}
.usf-c-select__list button {
    text-align: left !important;
    padding: 5px 20px !important;
}

span[data-change-title] {
    display: none !important;
}
.toolbar-wrapper.toolbar-mobile {
    display: none;
}

/* div#usf_container .card-information__wrapper.text-left {
    min-height: 164px !important;
} */
div#usf_container .swatches .swatch-minified-text {
    height: 25px;
}

div#usf_container .productListing .product {
    display: inline-flex !important;
    flex-direction: column;
    min-height: 537px !important;
    position: relative;
}
/* div#usf_container li.product .card-price {
    margin-top: 25px;
    margin-bottom: 30px;
} */
div#usf_container li.product span.pack_price {
    position: absolute;
    bottom: 75px;
    color: #000;
    font-weight: bold;
}
div#usf_container li.product span.product_sku {
    order: 2;
    bottom: 124px;
    position: absolute;
    font-weight: bold;
}
/* @media screen and (max-width: 1024px) and (min-width: 769px) {
    div#usf_container li.product span.product_sku {
        bottom: 185px;
        padding-left: 12px;
    }
    div#usf_container li.product span.pack_price {
        padding-left: 12px;
        bottom: 132px;
    }
} */
@media screen and (max-width: 767px) {
    div#usf_container li.product span.product_sku {
        bottom: 185px;
        padding-left: 5px;
    }
    div#usf_container li.product span.pack_price {
        padding-left: 5px;
        bottom: 132px;
    }
    div#usf_container .productListing .product {
        max-height: 450px;
    }
}

/************************* SEARCH RESULT PAGE *********************/
.template-search div#usf_container li.product span.pack_price {
    position: relative;
    top: -110px;
    color: #000;
    font-weight: bold;
}
.template-search div#usf_container li.product span.product_sku {
    order: 2;
    bottom: 180px;
    position: relative;
    font-weight: bold;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .template-search div#usf_container li.product span.product_sku {
        bottom: 160px;
        padding-left: 12px;
    }
    .template-search div#usf_container li.product span.pack_price {
        padding-left: 12px;
        top: -90px;
    }
}
@media screen and (max-width: 768px) {
    .template-search div#usf_container li.product span.product_sku {
        bottom: 170px;
        padding-left: 5px;
    }
    .template-search div#usf_container li.product span.pack_price {
        padding-left: 5px;
        top: -100px;
    }
}

/* PRODUCT PAGE */
.productView-thumbnail-wrapper {
    top: 0px !important;
}
.productView-thumbnail:last-child,
.fancybox-thumbs__list a:last-child {
    display: none !important;
}

@media screen and (min-width: 1280px) {
    .productView-images-wrapper {
        justify-content: space-between;
    }
    .productView-images-wrapper .productView-for {
        width: 128px !important;
    }
    .productView-thumbnail {
        width: 60px !important;
    }
    /* .productView-thumbnail.slick-slide.slick-current.slick-active .productView-thumbnail-link {
        border: 2px solid #000;
    } */
    .productView-thumbnail.slick-current .productView-thumbnail-link img {
        opacity: 1 !important;
        border: 3px solid black;
    }
}

@media screen and (max-width: 768px) {
    sticky-add-to-cart.productView-stickyCart {
        display: none;
    }    
}

/* SEARCH RESULT PAGE */
.sidebarBlock.sidebar-image,
.sidebarBlock.sidebar-custom-text {
    display: none;
}